[submodule "public"]
	path = public
	url = git@github.com:David-Statistics/David-Statistics.github.io.git
[submodule "public/david-statistics.github.io"]
	path = public/david-statistics.github.io
	url = git@github.com:David-Statistics/david-statistics.github.io.git
